$background-color: #EEEEEE;
$primary-color: lightpink;
$accent-color: hotpink;

@mixin display-flex($justify-content, $align-items) {
  display: flex;
  justify-content: $justify-content;
	align-items: $align-items;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
	background-color: $background-color;
}

.searchbar, .items, .item-details {
	padding: 0 15%;
	// padding: 0 9%;
}

button:hover {
  cursor: pointer;
}

.searchbar {
	background-color: $primary-color;
	height: 50px;
  @include display-flex(center,center);
  a {
    height: 35px;
    .logo {
      height: 100%;
      margin-right: 20px;
    }
  }
  form {
    @include display-flex(center,center);
    flex-grow: 1;
    a, input, button {
      height: 35px;
    }
    button {
      background-color: white;
      border: 1px solid white;
      border-radius: 0 3px 3px 0;
      img {
        height: 100%;
      }
    }    
    input {
      width: 100%;
      border: none;
      border-radius: 3px 0 0 3px;
      padding-left: 12px;
    }
    input:focus, button:focus {
      outline-color: $accent-color;
    }
  }
}

.category {
color: gray;
font-size: 12px;
font-weight: bolder;
margin: 0;
padding: 15px 0;
}

.product {
height: 24vh;
padding: 3vh 15px;
background-color: white;
border-bottom: 1px solid rgb(233, 233, 233);
display: flex;
  img {
    border-radius: 3px;
  }
  .product-info {
    margin-left: 24px;
    width: 33%;
    color: #3a3a3a;
    span {
      font-size: 1.4em;
      font-weight: 500;
    }
  }
  .product-location {
    font-size: 12px;
    color: gray;
    text-align: right;
    margin-right: 5%;
    flex-grow: 1;
  }
}