$background-color: #EEEEEE;
$primary-color: lightpink;
$accent-color: hotpink;

@mixin display-flex($justify-content, $align-items) {
  display: flex;
  justify-content: $justify-content;
	align-items: $align-items;
}

* {
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  font-family: Roboto,'Open Sans', 'Helvetica Neue', sans-serif
}

a {
  text-decoration: none;
}

img {
  border-radius: 3px;
}

.searchbar, .items, .item-details-container {
	padding: 0 15%;
}

button:hover {
  cursor: pointer;
}

.searchbar {
	background-color: $primary-color;
	height: 50px;
  @include display-flex(center,center);
  a {
    height: 35px;
    .logo {
      height: 100%;
      margin-right: 20px;
    }
  }
  form {
    @include display-flex(center,center);
    flex-grow: 1;
    a, input, button {
      height: 35px;
    }
    button {
      background-color: white;
      border: 1px solid white;
      border-radius: 0 3px 3px 0;
      img {
        height: 100%;
      }
    }    
    input {
      width: 100%;
      border: none;
      border-radius: 3px 0 0 3px;
      padding-left: 12px;
    }
    input:focus, button:focus {
      outline-color: $accent-color;
    }
  }
}

.category {
  color: gray;
  font-size: 12px;
  margin: 0;
  padding: 15px 0;
}

.items .category {
  font-weight: bold;
}

.item, .item-details {
padding: 3vh 15px;
background-color: white;
border-bottom: 1px solid rgb(233, 233, 233);
display: flex;
}

.item {
  height: 24vh;
  .item-info {
    margin-left: 24px;
    width: 33%;
    color: #3a3a3a;
    span {
      font-size: 1.4em;
      font-weight: 500;
    }
  }
  .item-location {
    font-size: 12px;
    color: gray;
    text-align: right;
    margin-right: 5%;
    flex-grow: 1;
  }
}

ul {
 list-style-type: none;
 display: flex;
 li {
   margin-right: 9px;
 }
 li::after {
   content: ' > ';
   color: lightgray;
   margin-left: 9px;
 }
 li:last-of-type {
  font-weight: bolder;
  &::after {
    content: '';
   }
 }
}

.item-details {
  margin-bottom: 3vh;
  p {
    font-size: 12px;
  }
  .item-details-description {
    width: 60%;
    img {
      width: 100%;
    }
    h6 {
      font-size: 1.3em;
      margin-bottom: 0;
      font-weight: normal;
    }
    p {
      color: gray;
    }
  }
  .item-details-info {
    width: 40%;
    margin: 0 24px;
    h4 {
      font-size: 1.5em;
      font-weight: normal;
    }
    button {
      border: none;
      background-color: #3383F9;
      width: 100%;
      padding: 12px;
      border-radius: 3px;
      color: white;
    }
  }
}